{% comment %}
    Renders a form status message
    Accepts:
    - form: {Object} Form Liquid object (required)
    - form_id: {String} Form's id attribute for accessibility purpose (required)
    - success_message: {String} Success message locale key. Default to 'contact.form.post_success' (optional)

    Usage:
    {% include 'form-status', form: form, form_id: formId, success_message: post_message %}
{% endcomment %}
{%- if form.posted_successfully? -%}
    <div class="popupclsc">
    <div class="custom-model-mainclsc">
      <div class="custom-model-innercls">        
        <div class="close-btncls">×</div>
        <div class="custom-model-wrapcls">
          <div class="pop-up-content-wrapcls">
            <div class="popup-formscls">
{% comment %}                 <p class="form-message form-message--success" tabindex="-1" data-form-status> {% endcomment %}
                  {{ success_message | default: 'contact.form.post_success' | t }}
{% comment %}                 </p> {% endcomment %}
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>

 <script>
  console.log("HHIIIIIIIIIIII");
  $(".popupclsc").css("display","block");
  $(".custom-model-mainclsc").addClass('model-openclsc');
  
  
  
</script> 
{%- endif -%}

{% comment %} We need to add this so the errors are output in the right order {% endcomment %}
{% assign error_order = "author, email, body, password, form" | split: ", " %}

{%- if form.errors -%}

  {%- if form.errors.translated_fields.size == 1 and form.errors.first == 'form' -%}
    <p class="form-message" tabindex="-1" data-form-status>
      {{ form.errors.messages['form'] }}
    </p>

  {% else %}
    <div class="form-message form-message--error">
      <h2 class="h3 form-message__title" tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>

      <ul>
        {% for error in error_order %}
          {% for field in form.errors %}
            {% if error == field %}

              {% capture field_label %}
                {% case field %}
                  {% when 'author' %}
                    {{ 'contact.form.name' | t }}
                  {% when 'body' %}
                    {{ 'contact.form.message' | t }}
                  {% else %}
                    {{ form.errors.translated_fields[field] }}
                {% endcase %}
              {% endcapture %}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  {% comment %} the href should match the input's id {% endcomment %}
                  <a href="#{{ form_id }}-{{ field }}" class="form-message__link">{{ field_label | strip | capitalize }} {{ form.errors.messages[field] }}</a>
                {%- endif -%}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}
<style>

  .popup-formsclsc{
      margin: 0 2%;
  }
  .flex-field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
  .custom-model-mainclsc {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .model-openclsc {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
    padding: 3%;
  }

  .custom-model-innercls {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 1200px;
  }

  .custom-model-wrapcls {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1%;
  }

  .pop-up-content-wrapcls {
    border: 2px dashed #84DADE;
    border-radius: 6px;
  }

  .model-opencls .custom-model-innercls {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }

  .model-opencls .bg-overlaycls {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }

  .bg-overlaycls {
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 45px;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }

  .close-btncls {
    position: absolute;
    right: -37px;
    top: -11px;
    cursor: pointer;
    z-index: 99;
    font-size: 40px;
    color: #fff;
    background: #ea8282;
    width: 50px;
    border-radius: 50%;
    line-height: 40px;
    height: 50px;
  }

  .pop-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .combo-pop {
    width: 50%;
  }

  .popup-cont {
    margin: auto;
  }

  h2.heading-pop {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #006781;
  }

  p.text-pop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }

  .img-popup img {
    width: 100%;
  }

  .popup-cont {
    padding: 5%;
  }

  .fileds-clss input {
    width: 100%;
    border-radius: 10px;
  }

  .flex-fieldcls {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .fileds-clss {
    width: 48%;
    margin: 1%;
  }

  .fileds-clss.select-cls {
    width: 100%;

  }

  .fileds-clss select,
  .fileds-clss textarea {
    width: 100%;
    border-radius: 10px;
  }

  .fileds-clss.condition {
    width: 68%;
    display: flex;
    align-items: center;
  }

  .condition input {
    margin-right: 3%;
    width: unset;
  }

  .fileds-clss.btn-all-cls {
    width: 28%;
    margin: auto;
    text-align: center;
  }

  .btn-all-cls button {
    background: #F48F89;
    border-radius: 50px;
    padding: 3% 10%;
  }

  h2.sample-heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #006781;
  }

  .condition label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
  }

  .bdradious {
    border: 2px dashed #84DADE;
    border-radius: 6px;
    margin: 13px;
  }

  .brdpadding {
    padding: 3%;
  }

  .button-sample {
    padding-top: 20px;
  }

  .Free-Sample-section p.text {
    width: 66%;
  }

  @media screen and (max-width:991px) {
    .Free-Sample-sections {
      margin-left: 2%;
      margin-right: 2%;
    }
  }

  @media screen and (min-width:800px) {
    .custom-model-maincls:before {
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
  }

  @media screen and (max-width:799px) {
    .custom-model-innercls {
      margin-top: 45px;
      bottom: 27px;
    }

    .Free-Sample-sections h2.heading {
      font-size: 44px;
      line-height: 47px;
    }

    .Free-Sample-sections p.text {
      width: 100%;
    }
  }

  @media(max-width:600px) {
    .fileds-clss {
      width: 100%;
      margin: 1%;
    }

    .fileds-clss.btn-all-cls {
      width: 100%;
      margin-bottom: 5%;
    }

    .fileds-clss.condition {
      width: 100%;
    }

    .brdpadding {
      padding: 12% 3%;
    }
  }

  @media(max-width:414px) {
    .Free-Sample-sections h2.heading {
      font-size: 29px;
      line-height: 32px;
    }

    .Free-Sample-sections p.text {
      font-size: 14px;
      line-height: 25px;
    }
  }
</style>
