<div class="bestcontainer">
  <div class="bestdesigner">
    <div class="bundletitle">
      <h3 class="bundmeta">{{ section.settings.kometitle }}</h3>
    </div>
    <p class="vieall"><a href="{{ section.settings.wieurl }}">{{ section.settings.veiwall }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</p>

    <div class="designflex">
  
          {%- assign collection = collections[section.settings.collection] -%}
        <div class="desginerstudio">
          {% for product in collection.products %}
            <div class="desginerstudio1">
              <div class="hav_pro">
            {% if product.featured_image != blank %}
        		<a href="{{ product.url}}"class="cool_img"> <img src="{{ product.featured_image | img_url: 'master' }}" / class="lazyload avenue_img"></a>
                {% endif %}
             </div>
               <div class="product-data">
            <a href="{{ product.url }}">
            <h2 class="title">{{ product.title }}</h2>
            </a>
            <div class="review-rating">
              {% if section.settings.rating == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                {% endif %}
              {% if section.settings.rating == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              <span class="review-cls">( {{ section.settings.review }} )</span>
            </div>
            <p class="vendor">{{ product.vendor }}</p>
            <p class="price">{{ product.price |money }}</p>
          </div>
              
            </div>
        {% endfor %}
        </div>
  
    </div>
  </div>
</div>
  <style>
    .bestcontainer {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}
    .bundmeta {
    text-align: center;
    font-size: 62px;
    font-family: 'Hunterswood';
    font-weight: 500; 
}
    .vieall {
    text-align: end;
    font-size: 30px;
    color: #006781;
    text-transform: uppercase;
    font-weight: bold;
           font-family: 'Manrope';
}
    .vieall i{
          font-size: 37px;
    }
    .desginerstudio {
    display: flex;
    flex-wrap: wrap;
          justify-content: space-between;
}
    .desginerstudio1 {
    flex: 0 0 25%;
    max-width: 24%;
}
    .kiddiprdtitle{
      font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #006781;
    margin: 0;
    }
  </style>
{% schema %}
  {
  "name": "bestseller",

  "settings": [
  {
    "id" : "kometitle",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "veiwall",
    "type" : "text",
    "label" : "Veiw All"
  },
      {
    "id" : "wieurl",
    "type" : "url",
    "label" : "Veiw LInk"
  },
          {
    "id": "collection",
     "type": "collection",
    "label": "collection"
   },
     {
            "type": "range",
            "id": "rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "default": 5
          },
          {
            "id" : "review",
            "type" : "text",
            "label" : "Review",
            "default" : "22"
          }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [

     
  ]
  }

  ],
  "presets" : [
  {
    "name" : "bestseller",
    "category" : "bestseller"

    }
  ]
  }
  {% endschema %}