<div id="{{ section.id }}" class="bgcolorblue">
<div class="bestcontainer">
  <div class="bestdesigner">
    <div class="bundletitle">
      <h3 class="bundmeta">{{ section.settings.kometitle }}</h3>
    </div>
    <a href="{{ section.settings.wieurl }}"><p class="vieall">{{ section.settings.veiwall }} <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</p></a>

    <div class="designflex">
  
          {%- assign collection = collections[section.settings.collection] -%}
        <div class="desginerstudio komslider">
          {% for product in collection.products limit:6 %}
            <div class="desginerstudio1">
              <div class="hav_pro">
            {% if product.featured_image != blank %}
        		<a href="{{ product.url}}"class="cool_img"> <img src="{{ product.featured_image | img_url: 'master' }}" / class="lazyload avenue_img"></a>
                {% endif %}
             </div>
               <div class="product-data">
            <a href="{{ product.url }}">
            <h2 class="kiddiprdtitle">{{ product.title }}</h2>
            </a>
            <div class="review-rating">
              {% if section.settings.rating == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                {% endif %}
              {% if section.settings.rating == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if section.settings.rating == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              <span class="review-cls">( {{ section.settings.review }} )</span>
            </div>
            <p class="vendor">{{ product.vendor }}</p>
            <p class="price">{{ product.price |money }}</p>
          </div>              
            </div>
        {% endfor %}
        </div>
      </div>
  </div>
</div>
</div>

  <style>
     #{{section.id}}.bgcolorblue{
          background-color: {{section.settings.backgroundcls}};
    }
    .bestcontainer {
    max-width: 1600px;
    margin: 0 auto;
        padding: 0 15px 3%;
}
    .bestdesigner .drag i{
      background-color: #F48F89;
    }
    .bundmeta {
    text-align: center;
    font-size: 62px;
    font-family: 'Hunterswood';
    font-weight: 500; 
}
    .vieall {
    text-align: end;
    font-size: 30px;
    color: #006781;
    text-transform: uppercase;
    font-weight: bold;
           font-family: 'Manrope';
}
    .vieall i{
          font-size: 37px;
    }
    .desginerstudio {
    display: flex !important;
    flex-wrap: wrap;
          justify-content: center;
}
    .desginerstudio1 {
    flex: 0 0 25%;
    max-width: 24%;
          background-color: #fff;
    margin: 0 10px;
          padding-bottom: 10px;
          box-shadow: 0px 6px 6px 0px #0000000f;
    border-radius: 6px;
}
    .kiddiprdtitle{
      font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #006781;
    margin: 0;
          height: 57px;
    }
   .designflex  .slick-next:before {
    content: "";
}
    .designflex .slick-prev:before {
    content: "";
}
    .designflex .slick-prev {
  left: -17px;
    z-index: 2;
}
    .designflex .slick-next {
    right: 7px;
}
       @media(max-width: 1600px){
.designflex .slick-prev {
    left: -10px;
}
       }
       @media(max-width: 768px){
      .designflex .slick-prev {
    left: -5px;
      }
         .designflex .slick-next {
    right: 16px;
}
       }
      @media(max-width: 500px){
 #{{section.id}}.bgcolorblue{
  background-color:{{section.settings.color_accent}}
}
        .bundmeta {
    color: #fff;
}
        .designflex .slick-dots li button:before{
          font-size: 40px;
        }
      }
  </style>
{% schema %}
  {
  "name": "bestseller",

  "settings": [
    {
  "type": "color",
  "id": "backgroundcls",
  "label": "desktop color",
  "default": "#FFFFFF"
},
        {
  "type": "color",
  "id": "color_accent",
  "label": "mobile color",
  "default": "#FFFFFF"
},
  {
    "id" : "kometitle",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "veiwall",
    "type" : "text",
    "label" : "Veiw All"
  },
      {
    "id" : "wieurl",
    "type" : "url",
    "label" : "Veiw LInk"
  },
          {
    "id": "collection",
     "type": "collection",
    "label": "collection"
   },
     {
            "type": "range",
            "id": "rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "default": 5
          },
          {
            "id" : "review",
            "type" : "text",
            "label" : "Review",
            "default" : "22"
          }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [

     
  ]
  }

  ],
  "presets" : [
  {
    "name" : "bestseller",
    "category" : "bestseller"

    }
  ]
  }
  {% endschema %}

  <script>
      $('.komslider').slick({
    dots: false,
    infinite: true,
    arrows: true,
    slidesToShow: 4,
      slidesToScroll: 1,    
    prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-long-arrow-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-long-arrow-right' aria-hidden='true'></i></button>",
 responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
      }
    },
    {
      breakpoint: 500,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true
      }
    }
    ]
    });
  </script>