<div class="bestcontainer">
  <div class="bestdesigner">
    <div class="bundletitle">
      <h3 class="bundmeta">{{ section.settings.kometitle }}</h3>
    </div>
    <p class="vieall"><a href="{{ section.settings.wieurl }}">{{ section.settings.veiwall }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</p>

    <div class="designflex">
      {% for block in section.blocks %}
          {%- assign collection = collections[block.settings.collection] -%}
        <div class="desginerstudio">
          {% for product in collection.products %}
            <div class="desginerstudio1">
                     <div class="hav_pro">
            {% if product.featured_image != blank %}
        		<a href="{{ product.url}}"class="cool_img"> <img src="{{ product.featured_image | img_url: 'master' }}" / class="lazyload avenue_img"></a>
            {% endif  %}
                     </div>
              
            </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
  <style>
    .bestcontainer {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}
    .bundmeta {
    text-align: center;
    font-size: 62px;
    font-family: 'Hunterswood';
    font-weight: 500; 
}
    .vieall {
    text-align: end;
    font-size: 30px;
    color: #006781;
    text-transform: uppercase;
    font-weight: bold;
           font-family: 'Manrope';
}
    .vieall i{
          font-size: 37px;
    }
  </style>
{% schema %}
  {
  "name": "bestseller",

  "settings": [
  {
    "id" : "kometitle",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "veiwall",
    "type" : "text",
    "label" : "Veiw All"
  },
      {
    "id" : "wieurl",
    "type" : "url",
    "label" : "Veiw LInk"
  }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
      {
    "id": "collection",
     "type": "collection",
    "label": "collection"
   }
  ]
  }

  ],
  "presets" : [
  {
    "name" : "bestseller",
    "category" : "bestseller"

    }
  ]
  }
  {% endschema %}