<div class="Main-Collabrate-section" id="{{ section.id }}">
  <div class="Collabrate-sections">
    <div class="flex-Collabrate">
      <div class="image-sect width-Collabrate">
        <img src="{{ section.settings.image | img_url:'master' }}">
      </div>
      <div class="width-Collabrate contant-Collabrate">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <p class="text">{{ section.settings.text }}</p>
        <div class="button-sect">
          <a href="{{ section.settings.btn-link }}">{{ section.settings.btn-name }}</a>
        </div>
      </div>
    </div>
  </div>"
</div>

{% schema %}
  {
    "name": "Collabrate Section",
    "settings": [
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "text",
        "type" : "textarea",
        "label" : "Text"
      },
      {
        "id" : "btn-name",
        "type" : "text",
        "label" : "Button"
      },
      {
        "id" : "btn-link",
        "type" : "url",
        "label" : "Button Link"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background color",
        "default" : "#7CD6DB"
      }
    ],
    "presets" : [
      {
        "name" : "Collabrate Section"
      }
    ]
  }
{% endschema %}

<style>

  .Main-Collabrate-section{
    background-color: {{section.settings.background}};
    display: flex;
  }
  .flex-Collabrate{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items:center;
  }
  .width-Collabrate{
    width: 50%;
  }
  .image-sect img{
    width: 100%;
    display: flex;
  }
  .button-sect a {
    color: #fff;
    width: fit-content;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 15px 40px;
    text-align: center;
    margin: 3% 0;
    font-family: 'Manrope';
    background-color: #F48F89;
        font-size: 20px;
}
  .button-sect a:hover {
    background-color: #fff;
    color: #F48F89;
}
  .contant-Collabrate {
    padding: 0 5%;
    max-width: 600px;
    margin: auto;
}
.contant-Collabrate h2.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: start;
    color: #006781;
    margin: 0;
    letter-spacing: normal;
}
  .contant-Collabrate p.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: start;
    color: #006781;
    margin: 10% 0;
}
  @media(max-width:768px){
    .width-Collabrate{
    width: 100%;
  }
    .contant-Collabrate{
      padding: 5% 0;
    }
    .contant-Collabrate h2.heading {
    text-align: center;
}
  .contant-Collabrate p.text {
    text-align: center;
}
    .button-sect {
    text-align: center;
}
  }
</style>