<div id="{{ section.id }}" class="customblog">
  <div class="blogcontainer">
        <div class="blogstyle">
        <h3 class="blogtile">{{ section.settings.title }}</h3>
      </div>
    <div class="customcontent">
      <div class="blogimageflex blogslider">
        {% for block in section.blocks  %}
          <div class="blogimageflex1">
            <div class="blogcenter">
                <img src="{{ block.settings.kome | img_url:'master'}}" class="blogkome">
            </div>
            <div class="nightitle">
              <h3 class="blogmaintiutle">{{ block.settings.blogitle }}</h3>
              <p class="blogmaindiscription">{{ block.settings.discript }}</p>
              <p class="readbtn"><a href="{{ block.settings.komeurl}}" class="readurl">{{ block.settings.kometag }}</a></p>
            </div>
          </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>
<style>
  .blogtile {
    font-family: 'Hunterswood';
    color: #fff;
    text-align: center;
    font-size: 65px;
    font-weight: 500;
        margin: 0px;
        padding: 1% 0 4%;
}
  .blogcontainer {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}
  .blogmaindiscription {
    color: #006781;
        margin-bottom: 8px;
 font-size: 12px;
    line-height: 21px;
    margin: 10px 0px;
}
  .customblog {
    background-color: #006781;
}
  .blogimageflex{
/*         display: flex;
    flex-wrap: wrap; */
        justify-content: center;
    align-items: baseline;
  }
  .blogimageflex1{
/*     flex: 0 0 25%;
    max-width: 25%; */
        padding: 0px 10px;
  }
  .nightitle {
    background-color: #ECECEC;
    padding: 36% 9% 7%;
    margin-top: -31%;
    border-radius: 15px;
  }
  .blogmaintiutle {
    font-size: 12px;
    line-height: 21px;
      font-family: 'Manrope';
        margin-bottom: 5px;
        font-weight: bold;
        margin-top: 10px;
}
  .readbtn a.readurl {
    font-size: 12px;
    line-height: 21px;
}
  .blogcenter{
        text-align: center;
      }
  .blogkome {
    width: 82%;
    margin: 0 auto;
}
  .readurl{
        font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1px;
  }
  .customcontent .slick-track{
        display: flex;
    align-items: baseline;
  }
  .customcontent .slick-dots li.slick-active button:before{
        opacity: 1;
  }
  .blogslider .slick-dots li button:before{
        font-size: 40px;
  }
  .customcontent .slick-prev.slick-disabled:before{
        opacity: 0;
  }
  .customcontent .slick-next:before {
    content: "";
}
    #{{section.id}}.customblog{
          background-color: {{section.settings.backgroundcls}};
    }
  
       @media only screen and (max-width: 1024px) {
         .nightitle {
/*     height: 270px; */
}
     }
         @media only screen and (max-width: 991px) {
.nightitle {
/*     height: 230px; */
}
         }
   @media only screen and (max-width: 799px) {
.nightitle {
/*     height: 250px; */
}
         }
  @media only screen and (max-width: 768px) {
.blogtile {
    font-size: 35px;
  line-height: 40px;
  padding: 15px 0 30px;
  color: #006781;
}
     #{{section.id}}.customblog{
  background-color:{{section.settings.color_accent}}
}
    }
  @media only screen and (max-width: 540px) {
.nightitle {
/*     height: 250px; */
  width: 85%;
    margin: 0 auto;
  border-radius: 0px 0px 15px 15px;
      padding: 10% 5% 7%;
}
    .blogcontainer{
          padding: 0 0px;
    }
    .blogkome {
    width: 100%;
    }
    .blogimageflex1 {
    padding: 0px 0px;
}
    .blogmaintiutle, .blogmaindiscription, .readbtn a.readurl {
    font-size: 16px;
    line-height: 25px;
  }
  @media only screen and (max-width: 414px) {
      .blogmaintiutle, .blogmaindiscription, .readbtn a.readurl {
    font-size: 14px;
    line-height: 22px;
}
  }

  
</style>

<script>

   $(document).ready(function () { 
  
 $('.blogslider').slick({ 
   dots: true,
   arrows: false,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 1,
    adaptiveHeight: true,
  responsive: [
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
        {
      breakpoint: 541,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }

  ]
});
     
      });
  
</script>
{% schema %}
{
  "name": "customblog",
  "settings": [
        {
  "type": "color",
  "id": "backgroundcls",
  "label": "desktop color",
  "default": "#FFFFFF"
},
        {
  "type": "color",
  "id": "color_accent",
  "label": "mobile color",
  "default": "#FFFFFF"
},
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],

  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "kome",
           "label": "Image"
         },
           {
      "type": "text",
      "id": "blogitle",
      "label": "Title"
    },
           {
      "type": "textarea",
      "id": "discript",
      "label": "Discription"
    },
             {
    "id" : "komeurl",
    "type" : "url",
    "label" : "url"
  },
  {
    "id" : "kometag",
    "type" : "text",
    "label" : "know title"
  }
       ]
     }
  ],
  "presets": [
    {
      "name": "customblog",
      "settings": {
        "title": "customblog"
      }
  
    }
  ]
}
{% endschema %}