<div class="haveheard_containr">
  <div class=" Video-Cls">
    <div class="containerpadding">
      <div class="heard_flex">
        <div class="heard1">
          <div class="heard_contain">
            <h2 class="heard_title">{{section.settings.kome1}}</h2>
            <p class="heard_disc">{{section.settings.kome2}}</p>
          </div>
          <div class="number_flex">
            {% for block in section.blocks %}
            <div class="number_flex1">
              <div class="number_contain">
                <h3 class="number_title">{{block.settings.numtitle}}</h3>
                <p class="nappy_price">{{block.settings.numdicript}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <p class="signup">{{section.settings.dscrit}}</p>
          {% if section.settings.getbtn!= blank %}
          <p class="start_get" data-tblheading="{{section.settings.heading}}" data-text="{{ section.settings.text}}"
            data-text1="{{ section.settings.text1 }}" data-text2="{{ section.settings.text2 }}"
            data-text3="{{ section.settings.text3 }}" data-text4="{{ section.settings.text4 }}">

            <span>
              {{section.settings.getbtn}}
            </span>

          </p>
          {% endif %}
        </div>
        <div class="heard2">
          <div class="head_image">
            <img src="{{ section.settings.hedmg | img_url:'master'}}" class="hedlinre" loading="lazy">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /* size */
  #shopify-section-template--16136996061400__16551845475c833d7c {
    margin-top: 5%;
  }
  table{
      background: #E5E5E5;
  }
  .size-text {
    padding-bottom: 40px;
    padding-top: 30px;
  }

  .main-size-title {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #006781;
    text-align: center;
  }

  p.size-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    width: 55%;
    margin: auto;
  }

  table {
    width: 1100px;
    border-collapse: collapse;
    margin: 0px auto;
  }

  tr:nth-of-type(odd) {
    background: #fff;
  }

  th {
    background: #006781;
    color: white;
    font-weight: bold;
  }

  thead tr {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  td,
  th {
    padding: 10px 43px;
    /*     border: 1px solid #ccc;  */
    text-align: center;
    font-size: 20px;
  }

  th {
    border: none;
  }

  th:first-child {
    border-top-left-radius: 10px;
  }

  th:last-child {
    border-top-right-radius: 10px;
  }

  .first-test td:first-child {
    border-left: 1px solid #006781;
  }

  .first-test td:last-child {
    border-right: 1px solid #006781;
  }

  .first-test:last-child td {
    border-bottom: 1px solid #006781;
  }

  td {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #333;
  }
  @media screen and (max-width: 1430px){
    table{
      max-width: 1250px;
    }
  }

  @media only screen and (max-width: 1230px) {
    table {

      width: 1042px;
    }

  }

  @media only screen and (max-width: 1180px) {
    table {

      width: 1020px;
    }

  }

  @media only screen and (max-width: 1024px) {
    table {
      max-width: 850px;
    }
  }

  @media only screen and (max-width: 991px) {
    .container.main-guide {
      max-width: 852px;
    }

    .container.main-guide th {
      padding: 10px;
    }
  }

  @media only screen and (max-width: 912px) {
    table {
      max-width: 650px;
    }
  }

  @media only screen and (max-width: 768px) {
    p.size-text {
      width: 55%;
    }

    table {
      max-width: 600px;

    }


  }

  @media only screen and (max-width: 540px) {}

  @media only screen and (max-width: 414px) {}

  /* Size */
  /* POPUP CSS START */
  .main-guide {
    margin-bottom: 5%;
  }

  .container.main-guide {
    border: 2px dashed #84DADE;
    border-radius: 6px;
    overflow: hidden;
  }

  .custom-model-mains {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 45px;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .model-opens {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
    padding: 3%;
  }

  .custom-model-inners {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 30px auto;
    max-width: 1200px;
  }

  .custom-model-wraps {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .model-opens .custom-model-inners {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }

  .model-opens .bg-overlays {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }

  .bg-overlays {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }

  .close-btns {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
    background: #ea8282;
    width: 50px;
    border-radius: 50%;
  }

  .pop-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .combo-pop {
    width: 50%;
  }

  .popup-cont {
    margin: auto;
  }

  h2.heading-pop {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #006781;
  }

  p.text-pop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }

  .img-popup img {
    width: 100%;
  }

  .popup-cont {
    padding: 5%;
  }

  .fileds-cls input {
    width: 100%;
    border-radius: 10px;
  }

  .flex-field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .fileds-cls {
    width: 48%;
    margin: 1%;
  }

  .fileds-cls.select-cls {
    width: 100%;

  }

  .fileds-cls select,
  .fileds-cls textarea {
    width: 100%;
    border-radius: 10px;
  }

  .fileds-cls.condition {
    width: 68%;
    display: flex;
    align-items: center;
  }

  .condition input {
    margin-right: 3%;
    width: unset;
  }

  .fileds-cls.btn-all-cls {
    width: 28%;
    margin: auto;
    text-align: center;
  }

  .btn-all-cls button {
    background: #F48F89;
    border-radius: 50px;
    padding: 3% 10%;
  }

  h2.sample-heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #006781;
  }

  .condition label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
  }

  .bdradious {
    border: 2px dashed #84DADE;
    border-radius: 6px;
    margin: 13px;
  }

  .brdpadding {
    padding: 3%;
  }

  .button-sample {
    padding-top: 20px;
  }

  .Free-Sample-section p.text {
    width: 66%;
  }

  @media screen and (min-width:800px) {
    .custom-model-main:before {
      content: "";
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
  }

  @media screen and (max-width:799px) {
    .custom-model-inner {
      margin-top: 45px;
    }

    .Free-Sample-section h2.heading {
      font-size: 44px;
      line-height: 47px;
    }

    .Free-Sample-section p.text {
      width: 100%;
    }
  }

  @media(max-width:600px) {
    .fileds-cls {
      width: 100%;
      margin: 1%;
    }

    .fileds-cls.btn-all-cls {
      width: 100%;
    }

    .fileds-cls.condition {
      width: 100%;
    }

    .brdpadding {
      padding: 12% 3%;
    }
  }

  @media(max-width:414px) {
    .Free-Sample-section h2.heading {
      font-size: 29px;
      line-height: 32px;
    }

    .Free-Sample-section p.text {
      font-size: 14px;
      line-height: 25px;
    }
  }

  /* POPUP CSS END */


  .heard_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 19% 0 5%;
  }

  .heard1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .heard2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .number_flex {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 10px;
  }

  .number_flex1 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    border-right: 2px dashed #ffffff;
  }

  .number_flex1:last-child {
    border: none;
  }

  .haveheard_containr {
    background: #006781;
    /*     padding: 200px 100px 20px 100px; */
  }

  .heard_title {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 85px;
    text-align: center;
    color: #84DADE;
    letter-spacing: 0px;
  }

  .heard_disc {
    width: 83%;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 31px 0 0;
  }

  .number_title {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #84DADE;
  }

  .signup {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 45px auto;
    width: 70%;
  }

  .nappy_price {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }

  .hedlinre {
    width: 100%;
  }

  .start_get span {
    cursor: pointer;
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 7px 60px 21px;
    background: #F48F89;
    border-radius: 50px;
  }

  .testimonial_contains {
    background: #EDEDED;
    padding-top: 2%;
  }

  p.start_get span:hover {
    color: #FFFFFF;
    text-decoration: none;
  }

  .start_get {
    text-align: center;
  }

  @media only screen and (max-width: 1300px) {
    .haveheard_containr {
      padding: 20px 50px 20px 0px;
    }

    .heard_title {
      font-size: 50px;
      line-height: 55px;
    }

    .heard_disc {
      width: 100%;
    }

    .heard_flex {
      justify-content: space-between;
    }

    .heard2 {
      flex: 0 0 50%;
      max-width: 49%;
    }

    .heard1 {
      flex: 0 0 50%;
      max-width: 49%;
    }

    .signup {
      margin: 25px auto;
      width: 100%;
    }

    .number_flex {
      padding: 15px 0px 10px;
    }

    .number_title {
      font-size: 64px;
      line-height: 70px;
    }

    /*     .containerpadding{
    margin-top: 200px;
  } */
  }



  @media only screen and (max-width: 1200px) {
    .heard_disc {
      padding: 12px 0 0;
  }

    @media only screen and (max-width: 1200px) {
      .heard_disc{
            padding: 12px 0 0;
      }
      .heard_flex{
            align-items: flex-start;
      }

    }

    .heard_flex {
      align-items: flex-start;
    }

    .pop-up-content-wraps {
      overflow: auto;
    }

    .custom-model-inners {
      margin: 10px auto;
    }
  }

  @media only screen and (max-width: 1100px) {
    .haveheard_containr {
      padding: 20px 20px 20px 20px;
    }

    .heard_title {
      font-size: 45px;
      line-height: 55px;
    }

    .Video-Cls {
      margin: 0;
    }

    .heard_flex {
      align-items: center;
    }
  }

  
  @media only screen and (max-width: 940px) {
    .heard_flex{
          padding: 35% 0 5%;
    }
  }
      @media only screen and (max-width: 820px) {
  .heard1 {
    flex: 0 0 100%;
    max-width: 100%;
        padding-bottom: 40px;
}
        .heard2 {
    flex: 0 0 100%;
    max-width: 80%;
}
.haveheard_containr {
    padding: 20px 20px 20px 20px;
}
        .head_image{
              text-align: center;
        }
        .heard_flex {
    justify-content: center;
}

  }
  
  @media only screen and (max-width: 620px) {
  .heard_flex {
    padding: 64% 0 5%;
}
  }
      @media only screen and (max-width: 540px) {
  .heard_title {
    font-size: 33px;
    line-height: 40px;
}
        .heard_disc{
              font-size: 17px;
    line-height: 24px;
        }
        .nappy_price{
              width: 50%;
        }
        .number_title{
              width: 20%;
        }
   .number_contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
        .number_flex1 {
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom: 2px dashed #ffffff;
              border-right: none;
}
                .heard_flex {
    padding: 88% 0 5%;
}
  }
      @media only screen and (max-width: 414px) {
  .number_title {
    font-size: 50px;
    line-height: 65px;
       width: 40%;
}

  }
     @media only screen and (max-width: 360px) {
       .heard_flex {
    padding: 98% 0 5%;
}
       button.btn.smp-btn{
            font-size: 23px;
    line-height: 36px;
             padding: 3px 26px 13px;
       }
     }
</style>
{% schema %}
{
"name": "haveheard",

"settings": [
{
"id" : "kome1",
"type" : "text",
"label" : "Heading"
},
{
"id" : "kome2",
"type" : "textarea",
"label" : "Discription"
},
{
"id": "hedmg",
"type": "image_picker",
"label": "Banner Image"
},
{
"id" : "dscrit",
"type" : "textarea",
"label" : "Discription"
},
{
"id" : "getbtn",
"type" : "text",
"label" : "submit Button"
},
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "text1",
"type" : "text",
"label" : "Heading 1"
},
{
"id" : "text2",
"type" : "text",
"label" : "Heading 2"
},
{
"id" : "text3",
"type" : "text",
"label" : "Heading 3"
},
{
"id" : "text4",
"type" : "text",
"label" : "Heading 4"
}
],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
{
"id" : "numtitle",
"type" : "text",
"label" : "Heading"
},
{
"id" : "numdicript",
"type" : "text",
"label" : "number Discription"
},
{
"id" : "text1",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text2",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text3",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text4",
"type" : "text",
"label" : "Heading"
}
]
}
],
"presets" : [
{
"name" : "haveheard",
"category" : "haveheard"

}
]
}
{% endschema %}