<div class="icon-with-text" id="{{ section.id }}">
  <div class="icons-txts">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    <div class="Flex-sections">
      {% for block in section.blocks %}
        <div class="icon-with">
          <a href="{{ block.settings.kome}}">
          <img src="{{ block.settings.image | img_url:'master' }}">
          <h2 class="title">{{ block.settings.title }}</h2>
          </a>
        </div>
        {% endfor %}
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Icon With Text",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color",
        "default" : "#7CD6DB"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "title",
        "type" : "text",
        "label" : "Heading"
      },
              {
        "id" : "kome",
        "type" : "url",
        "label" : "URl"
      }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Icon With Text"
      }
    ]
  }
{% endschema %}

<style>

  .icon-with-text{
    background-color: {{section.settings.background}};
    padding: 2% 0;
  }
  .icons-txts{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 5%;
    
  }
  .Flex-sections{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .icon-with{
    width: 20%;
  }
  .icon-with h2.title {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #006781;
    margin: 10px 0;
}
  .icon-with-text .head h2{
    font-family: 'Hunterswood';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
text-align: center;
color: #006781;
    margin-bottom: 15px;
  }
  

  @media(max-width:768px){
    .icon-with{
    width: 45%;
  }
    .icon-with-text .head h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
}
    .icons-txts .head{
      margin-top: 15px;
    }
  }
</style>