<div class="image-with-text-live" id="{{ section.id }}">
  <div class="live-image">
    <div class="flex-images">
      <div class="images-clas">
        {% if section.settings.image != blank  %}
        <img class="desktop" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
        {% if section.settings.image != blank  %}
        <img class="mobile" src="{{ section.settings.mobile-image | img_url:'master' }}">
        {% else %}
          <img class="mobile" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
      </div>

      <div class="images-contant">
        <h2 class="clsheading">{{section.settings.heading}}</h2>
        <p class="clstext">{{section.settings.text}}</p>
        <div class="contans-button">
          <a class="first-btn" href="{{ section.settings.btn1_link }}">{{ section.settings.button1 }}</a>
          <a class="secont-btn" href="{{ section.settings.btn2_link }}">{{ section.settings.button2 }}</a>
        </div>
      </div>
      
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image With Text Live",
    "settings": [
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobile-image",
        "type" : "image_picker",
        "label" : "Mobile image"
      },
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "text",
        "type" : "textarea",
        "label" : "Text"
      },
      {
        "id" : "button1",
        "type" : "text",
        "label" : "First Button"
      },
      {
        "id" : "btn1_link",
        "type" : "url",
        "label" : "First Button Link"
      },
      {
        "id" : "button2",
        "type" : "text",
        "label" : "Second Button"
      },
      {
        "id" : "btn2_link",
        "type" : "url",
        "label" : "Second Button Link"
      }
    ],
    "presets" : [
      {
        "name" : "Image With Text Live"
      }
    ]
  }
{% endschema %}

<style>

  .image-with-text-live{
    background-color: #016782;
  }
  .live-image{
    max-width: 1900px;
    width: 100%;
    margin: auto;
  }
  .flex-images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .images-clas{
    width: 65%;
  }
  .images-clas img{
    width: 100%;
    display: flex;
  }
  .images-clas img.mobile{
    display: none;
  }
  .images-contant{
    width: 35%;
    padding: 0px 5%;
    max-width: 550px;
    margin: auto;
  }
  .images-contant h2.clsheading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-align: end;
    color: #fff;
    margin: 0;
    letter-spacing: normal;
}
  .images-contant p.clstext {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: end;
    color: #fff;
    margin: 20px 0;
}
  .contans-button a {
    font-family: 'Hunterswood';
    color: #fff;
    width: 48%;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 0px 10px 11px;
    text-align: center;
    margin: 3% 0;
    text-transform: uppercase;
    font-size: 25px;
}
  .contans-button a:hover {
    background-color: #F48F89;
    color: #fff;
}
  .contans-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:1370px){
  .images-contant h2.clsheading {
    font-size: 60px;
    line-height: 74px;
}
}
  @media(max-width:1200px){
  .images-contant h2.clsheading {
    font-size: 50px;
    line-height: 64px;
}
}
  @media(max-width: 768px){

    .flex-images{
          flex-direction: column-reverse;
    }
    .images-contant p.clstext {
    font-size: 14px;
    line-height: 19px;
}
    .images-contant h2.clsheading {
    margin-top: 20px;
}
    .images-contant{
    width: 100%;
  }
    .images-clas{
    width: 100%;
  }
    .images-contant p.clstext {
    text-align: center;
}
    .images-contant h2.clsheading {
    text-align: center;
      font-size: 48px;
    line-height: 55px;
}
    .images-clas img.mobile{
    display: block;
          height: auto;
  }
    .images-clas img.desktop{
    display: none;
  }
    .images-contant{
      position: absolute;
    top: 80px;
    }
  }
</style>