<div class="image-with-text-live" id="{{ section.id }}">
  <div class="live-image">
    <div class="flex-images">
      <div class="images-clas">
        {% if section.settings.image != blank  %}
        <img class="desktop" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
        {% if section.settings.image != blank  %}
        <img class="mobile" src="{{ section.settings.mobile-image | img_url:'master' }}">
        {% else %}
          <img class="mobile" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
      </div>

      <div class="images-contant">
        <h2 class="clsheading">{{section.settings.heading}}</h2>
        <p class="clstext">{{section.settings.text}}</p>
        <div class="contans-button">
          <a href="{{ section.settings.btn1_link }}">{{ section.settings.button1 }}</a>
          <a href="{{ section.settings.btn2_link }}">{{ section.settings.button2 }}</a>
        </div>
      </div>
      
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image With Text Live",
    "settings": [
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobile-image",
        "type" : "image_picker",
        "label" : "Mobile image"
      },
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "text",
        "type" : "textarea",
        "label" : "Text"
      },
      {
        "id" : "button1",
        "type" : "text",
        "label" : "First Button"
      },
      {
        "id" : "btn1_link",
        "type" : "url",
        "label" : "First Button Link"
      },
      {
        "id" : "button2",
        "type" : "text",
        "label" : "Second Button"
      },
      {
        "id" : "btn2_link",
        "type" : "url",
        "label" : "Second Button Link"
      }
    ],
    "presets" : [
      {
        "name" : "Image With Text Live"
      }
    ]
  }
{% endschema %}

<style>

  .live-image{
    background-color: #016782;
  }
  .flex-images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .images-clas{
    width: 65%;
  }
  .images-clas img{
    width: 100%;
  }
  .images-clas img.mobile{
    display: none;
  }
  .images-contant{
    width: 35%;
    padding: 0 5%;
  }
  .images-contant h2.clsheading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin: 0;
    letter-spacing: normal;
}
  .images-contant p.clstext {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
</style>