<div class="main-Inastagram-section" id="{{ section.id }}">
  <div class="Insta-sections">
    <heading class="insta">
      <h2 class="heading">{{ section.settings.heading }}</h2>
        <img src="{{ section.settings.image | img_url:'master' }}">
    </heading>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color",
        "default" : "#006781"
      },
      {
        "id" : "text-color",
        "type" : "color",
        "label" : "Text Color",
        "default" : "#fff"
      },
      {
        "id" : "mobile-text-color",
        "type" : "color",
        "label" : "Text Color",
        "default" : "#fff"
      }
    ],
    "presets" : [
      {
        "name" : "Instagram Section"
      }
    ]
  }
{% endschema %}

<style>

  #{{ section.id }} .Insta-sections{
    background: {{section.settings.background}};
    margin-bottom: 1%;
  }
  heading.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
  #{{ section.id }} .insta h2.heading {
    margin: 0;
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: normal;
    text-align: center;
    color: {{section.settings.text-color}};
    letter-spacing: unset;
}
  .insta img {
    max-width: 45px;
    width: 100%;
    margin: 30px 20px 0;
}
  @media(max-width:768px){
    #{{ section.id }} .insta h2.heading {
    font-size: 35px;
      color: {{section.settings.mobile-text-color}};
}
    
    .insta img {
    max-width: 25px;
    width: 100%;
    margin: 15px 20px 0;
}
  }
  
</style>