<div class="Main-Sizeing-section" id="{{ section.id }}">
  <div class="Size-guide-section">
    <div class="All-flexes">
      {% if section.settings.image1 != blank %}
      <div class="first-image flexes-block">
        <img src="{{ section.settings.image1 | img_url:'master' }}">
      </div>
      {% endif %}
      {% if section.settings.image2 != blank %}
      <div class="second-image flexes-block">
        <img src="{{ section.settings.image2 | img_url:'master' }}">
      </div>
      {% endif %}
      <div class="other-content head-section">
        <div class="mobile-image-with-content">
          {% if section.settings.image2 != blank %}
          <div class="only-mobile">
            <img src="{{ section.settings.mobile_image |img_url:'master' }}">
          </div>
            {% endif %}
          <div class="main-cls-cls">
             <div class="button-cls">
               <h2 class="heading">{{ section.settings.heading }}</h2>
             </div>
              <a href="{{ section.settings.button_link }}">{{ section.settings.button_name }}</a>
          </div>
        </div>
      </div>
      {% if section.settings.image3 != blank %}
      <div class="third-image flexes-block">
        <img src="{{ section.settings.image3 | img_url:'master' }}">
      </div>
        {% endif %}
      {% if section.settings.image4 != blank %}
      <div class="forth-image flexes-block">
        <img src="{{ section.settings.image4 | img_url:'master' }}">
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Kidding Size Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "button_name",
        "type" : "text",
        "label" : "Button"
      },
      {
        "id" : "button_link",
        "type" : "url",
        "label" : "Button Link"
      },
      {
        "id" : "image1",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image2",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image3",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image4",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobile_image",
        "type" : "image_picker",
        "label" : "Mobile Image"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color",
        "default" : "#84DADE"
      }
    ],
    "presets" : [
      {
        "name" : "Kidding Size Section"
      }
    ]
  }
{% endschema %}

<style>

  #{{section.id}}.Main-Sizeing-section{
    background-color: {{section.settings.background}};
  }
  .Size-guide-section {
    max-width: 1800px;
    width: 100%;
    margin: auto;
    padding: 5% 2% 0;
}
  .All-flexes{
    display: flex;
    width: 100%;
        justify-content: center;
    align-items: self-end;
  }
  .flexes-block img {
    width: 100%;
}
  .head-section{
    width: 40%;
    margin: auto;
    text-align: center;
  }
  .flexes-block{
    width: 15%;
  }
  .button-cls {
    background: #F48F89;
    border-radius: 15px;
    padding: 10px 0;
    margin-bottom: 15px;
}
  .button-cls h2.heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}
  .head-section a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #006781;
}
  .only-mobile img{
    width: 100%;
  }
  .only-mobile{
    display: none;
  }
  @media(max-width: 768px){
    .only-mobile{
      display: block;
    }
    .flexes-block{
      display: none;
    }
    .head-section {
    width: 100%;
    text-align: center;
}
    .main-cls-cls{
      margin-top: -30px;
    }
    .Size-guide-section {
    padding: 5% 2%;
}
  }
</style>