<div class="Main-Sizeing-section" id="{{ section.id }}">
  <div class="Size-guide-section">
    <div class="All-flexes">
      {% if section.settings.image1 != blank %}
      <div class="first-image flexes-block">
        <img class="desktop" src="{{ section.settings.image1 | img_url:'master' }}">
        {% if ection.settings.mobileimage1  != blank %}
        <img class="mobile" src="{{ section.settings.mobileimage1 | img_url:'master'}}">
          {% else %}
          <img class="mobile" src="{{ section.settings.image1 | img_url:'master'}}">
          {% endif %}
      </div>
      {% endif %}
      <div class="other-content head-section">
        <div class="mobile-image-with-content">
          <div class="main-cls-cls mobilehide">
             <div class="button-cls">
                 <a href="{{ block.settings.kome}}">
               <h2 class="heading">{{ section.settings.heading }}</h2>
                 </a>
             </div>
              <a class="btn-cls" href="{{ section.settings.button_link }}">
              <p class="btn-btn-cls">{{ section.settings.button_name }}</p>
              <img src="https://cdn.shopify.com/s/files/1/0431/8039/2600/files/arrow-right_4.png?v=1665473530">
              </a>
          </div>
          <div class="main-cls-cls mobileshow">
            <div class="button-cls">
                 <a href="{{ block.settings.kome}}">
               <span class="heading">{{ section.settings.heading }}<img src="https://cdn.shopify.com/s/files/1/0431/8039/2600/files/arrow-right_4.png?v=1665473530"></span>
                 </a>
             </div>
          </div>
        </div>
      </div>
      {% if section.settings.image3 != blank %}
      <div class="third-image flexes-block">
        <img class="desktop" src="{{ section.settings.image3 | img_url:'master' }}">
        {% if ection.settings.mobileimage3  != blank %}
        <img class="mobile" src="{{ section.settings.mobileimage3 | img_url:'master'}}">
          {% else %}
          <img class="mobile" src="{{ section.settings.image3 | img_url:'master'}}">
          {% endif %}
      </div>
        {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Kidding Size Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
                   {
        "id" : "kome",
        "type" : "url",
        "label" : "URl"
      },
      {
        "id" : "textmobile",
        "type" : "text",
        "label" : "Mobile Text"
      },
      {
        "id" : "button_name",
        "type" : "text",
        "label" : "Button"
      },
      {
        "id" : "button_link",
        "type" : "url",
        "label" : "Button Link"
      },
      {
        "id" : "image1",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobileimage1",
        "type" : "image_picker",
        "label" : "Mobile Image"
      },
      {
        "id" : "image3",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobileimage3",
        "type" : "image_picker",
        "label" : "Mobile Image"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color",
        "default" : "#F3F3F3"
      },
      {
        "id" : "mobile-background",
        "type" : "color",
        "label" : "Mobile Background Color",
        "default" : "#84DADE"
      }
  
    ],
    "presets" : [
      {
        "name" : "Kidding Size Section"
      }
    ]
  }
{% endschema %}

<style>

  #{{section.id}}.Main-Sizeing-section{
    background-color: {{section.settings.background}};
  }
  .Size-guide-section {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    overflow: hidden;
}
  .main-cls-cls.mobileshow{
    max-width: 250px;
    margin: auto;
    width: 100%;
  }
  span.heading img{
    max-width: 50px;
    padding: 4px 0 0 14px;
    position: absolute;
  }
  span.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 700;
    float: left;
    text-align: left;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
    font-size: 30px;
  }
  .All-flexes{
    display: flex;
    width: 100%;
        justify-content: space-between;
    align-items: self-end;
        position: relative;
  }
  .first-image {
    left: 0;
}
  .third-image {
    right: 0;
}
  .mobileshow{
    display: none;
  }
  .All-flexes .flexes-block {
    position: absolute;
    top: -85px;
    height: 100%;
    z-index: 99;
}
  .All-flexes .flexes-block img {
    width: 100%;
    max-width: 300px;
}
  .head-section {
    width: 85%;
    margin: auto;
    text-align: center;
    background: #F48F89;
    padding: 25px 0;
    z-index: 9;
}
  .button-cls {
    background: #F48F89;
    border-radius: 15px;
    padding: 10px 0;
    margin-bottom: 15px;
}
  .button-cls h2.heading {
    font-family: 'Hunterswood';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 32px;
text-align: center;
letter-spacing: 1px;
text-transform: capitalize;

color: #FFFFFF;

}
  .btn-cls p.btn-btn-cls {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}
  a.btn-cls {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .btn-cls img {
    max-width: 50px;
    margin-left: 15px;
}
  .head-section a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
  .only-mobile img{
    width: 85%;
  }
  .flexes-block img.mobile{
    display: none;
  }
  @media(max-width:1024px){
    .All-flexes .flexes-block img {
    max-width: 250px;
}
    .All-flexes .flexes-block {
    top: -60px;
}
    .button-cls h2.heading {
    font-size: 60px;
}
  }
  @media(max-width:799px){
    .Size-guide-section {
    padding: 0px 0;
}
    
  }
  @media(max-width: 768px){
    .head-section {
    width: 100%;
}
    
    .flexes-block img.mobile{
      display: block;
    }
    .flexes-block img.desktop{
      display: none;
    }
    .mobileshow{
      display: block;
    }
    .mobilehide{
      display: none;
    }
    .All-flexes .flexes-block img {
    max-width: 150px;
}
    .All-flexes .flexes-block {
    top: -20px;
}
    .button-cls h2.heading {
    font-size: 30px;
    line-height: 35px;
}
    .button-cls {
    border-radius: 25px;
}
    .btn-cls p.btn-btn-cls {
    font-size: 25px;
    line-height: 30px;
}
    .btn-cls img {
    max-width: 40px;
}
  }
  @media(max-width:500px){
    .All-flexes .flexes-block img {
    max-width: 100px;
}
    .All-flexes .flexes-block {
    top: 20px;
}
  }
</style>