<style>

  .Flex-product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .combo-prd{
    width: 30%;
    margin: auto;
  }
  .combo-prd2{
  width: 50%;
  }
  .img-product img{
    width: 100%;
  }
  .Main-shop-our-product{
    background: #fff;
    margin: 0 10%;
    border-radius: 15px;  
  }
  .kddicritters {
    background: #006781;
        padding: 6% 0%;
}
  .content-product{
    padding: 5%;
  }
  .kddicritters .Shop-Our-Product{
  	    border: 2px dashed #84DADE;
    border-radius: 6px;
    margin: 13px;
  }
  .kddicritters .Main-shop-our-product{
  	    padding: 4px;
  }
  .Main-shop-our-product h2.heading{
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #006781;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .Main-shop-our-product p.text{
      font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
  }
  .Main-shop-our-product button.but-cls a{
 font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: #ea8282;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .Main-shop-our-product button.but-cls{
       background: #ea8282;
    border-radius: 50px;
    border: none;
    padding: 0px 70px 12px;
  }
  .Main-shop-our-product button.but-cls:hover{
    background: #ea8282;
  }
  .Main-shop-our-product button.but-cls a:hover{
    color: #fff;
  }
  @media(max-width:1600px){
  .combo-prd {
    width: 35%;
  }
  }
  
  @media(max-width:1500px){
  .combo-prd {
    width: 46%;
}
  }
  @media(max-width:1300px){

    .Main-tab-section {
    padding: 525px 0 300px 0 !important;
    }
    .content-product {
    padding: 5% 0%;
}
  }
  @media(max-width:950px){

    .Main-tab-section {
    padding: 570px 0 300px 0 !important;
}
  }

  @media(max-width:768px){
    .combo-prd{
      width: 100%;
      margin: auto;
      text-align: center;
    }

    .Main-shop-our-product h2.heading{
      font-size: 32px;
      line-height: 39px;
    }
    .combo-prd2 {
    width: 100%;
    text-align: center;
}
    .content-product {
    padding: 5% 3%;
}
  }
  @media(max-width:540px){
  	.Main-shop-our-product h2.heading {
    font-size: 22px;
    line-height: 30px;
}
    .Main-shop-our-product p.text{
    	font-size: 15px;
    line-height: 24px;
    }
    .Main-shop-our-product button.but-cls a{
    	font-size: 18px;
    }
    .Main-tab-section {
    padding: 385px 0 300px 0 !important	;
}
  }
  
  @media(max-width:414px){
  .Main-tab-section {
    padding: 360px 0 300px 0 !important;
}
  }


</style>

<div class="kddicritters">
<div class="Main-shop-our-product" id="{{section.id}}">
  <div class="Shop-Our-Product">
    <div class="Flex-product">
      <div class="img-product combo-prd">
        <img src="{{section.settings.image | img_url: 'master'}}">
      </div>
      <div class="content-product combo-prd2">
        <h2 class="heading"> {{ section.settings.heading }} </h2>
        <p class="text"> {{ section.settings.text }} </p>
        <p class="text">{{ section.settings.signtext }}</p>
        <div class="btn-product">
          <button class="btn but-cls"> <a href="{{ section.settings.btn-link }}"> {{ section.settings.btn-text }} </a> </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
"name": "KiddicareCriiters",
"settings": [
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "signtext",
"type" : "textarea",
"label" : "Textarea"
},
{
"id" : "btn-text",
"type" : "text",
"label" : "Button Text"
},
{
"id" : "btn-link",
"type" : "url",
"label" : "Button Link"
},
{
"id" : "btn-bg-color",
"type" : "color",
"label" : "Button Background Color"
}
],
"presets" : [
{
"name" : "KiddicareCriiters"
}
]
}
{% endschema %}


