<div class="Main-Sizeing-section" id="{{ section.id }}">
  <div class="Size-guide-section">
    <div class="All-flexes">
      {% if section.settings.image1 != blank %}
      <div class="first-image flexes-block">
        <img src="{{ section.settings.image1 | img_url:'master' }}">
      </div>
      {% endif %}
      {% if section.settings.image2 != blank %}
      <div class="second-image flexes-block">
        <img src="{{ section.settings.image2 | img_url:'master' }}">
      </div>
      {% endif %}
      <div class="other-content flexes-block">
       <div class="button-cls">
         <h2 class="heading">{{ section.settings.heading }}</h2>
       </div>
        <a href="{{ section.settings.button_link }}">{{ section.settings.button_name }}</a>
      </div>
      {% if section.settings.image3 != blank %}
      <div class="third-image flexes-block">
        <img src="{{ section.settings.image3 | img_url:'master' }}">
      </div>
        {% endif %}
      {% if section.settings.image4 != blank %}
      <div class="forth-image flexes-block">
        <img src="{{ section.settings.image4 | img_url:'master' }}">
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Kidding Size Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "button_name",
        "type" : "text",
        "label" : "Button"
      },
      {
        "id" : "button_link",
        "type" : "url",
        "label" : "Button Link"
      },
      {
        "id" : "image1",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image2",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image3",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "image4",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobile_image",
        "type" : "image_picker",
        "label" : "Mobile Image"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color"
      }
    ],
    "presets" : [
      {
        "name" : "Kidding Size Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}