<style>

  .main-logos-section{
    background: {{section.settings.color}};
    padding: 3% 0 400px 0;
  }
  .All-logos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  img.img-hover{
    display: none;
  }
  .first-logo{
 flex: 0 0 20%;
    max-width: 16%;
  }

  .width-cnt h2.heading{
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #006781;
    letter-spacing: 0px;
  }
  
  .width-cnt p.text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
        width: 44%;
    margin: 0 auto;
    padding: 2% 0px 3%;
  }
  .logo-cls:hover img.img-normal{
    display: none;
  }
  .logo-cls:hover img.img-hover{
    display: block !important;
  }
  .logo-cls{
    cursor: pointer;
  }


  /*   / POPUP CSS START / */
  .custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    /*   top: 0; */
    right: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
  }
  .Container-cls{  	
     max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
        padding-bottom: 8%;
  }

  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 30px auto;
    max-width: 1200px;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
/*     top: 0; */
    right: 0;
/*     bottom: 0; */
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
    font-size: 40px;
    color: #000;
    background: #fff;
    width: 50px;
    border-radius: 50%;
  }
  .pop-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .combo-pop{
    width: 50%;
  }
  .popup-cont{
    margin: auto;
  }
  h2.heading-pop{
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #006781;
  }
  p.text-pop{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }
  .img-popup img{
    width: 100%;
  }
  .popup-cont{
    padding: 5%;
  }

  @media screen and (min-width:800px){
    .custom-model-main:before {
      content: "";
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
  }
  @media screen and (max-width:799px){
    .custom-model-inner{margin-top: 45px;}
  }
  @media(max-width:1500px){
    .main-logos-section {
    padding: 3% 0 300px 0;
}
  }
  @media(max-width:1300px){
    .main-logos-section {
    padding: 3% 0 200px 0;
}
      .width-cnt p.text{
    	    width: 55%;
    }
  }
  @media(max-width:950px){
    .main-logos-section {
    padding: 3% 0 300px 0;
}
    .width-cnt p.text{
    	    width: 68%;
    }
  }

  @media(max-width:768px){
    .first-logo {
      width: 33.33%;
    }
    .main-logos-section {
    padding: 3% 0 550px 0;
}
    .width-cnt h2.heading{
    	    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    }
  }
  @media(max-width:600px){
    .pop-flex .combo-pop {
      width: 100%;
    }
    .width-cnt p.text {
    width: 76%;
}
  }
  
  @media(max-width:540px){
  	.first-logo {
    flex: 0 0 33%;
    max-width: calc(33% - 20px);
    margin: 0 10px;
}
    .All-logos{
    	justify-content: center;
    }
    .width-cnt p.text{
    	    width: 100%;
    }
  }


  /*   / POPUP CSS END / */
</style>


<div class="main-logos-section" id="{{section.id}}">
  <div class="Container-cls">
    <div class="width-cnt">
      <h2 class="heading">{{section.settings.heading}}</h2>
      <p class="text">{{section.settings.text}}</p>
    </div>
    <div class="All-logos">
      {% for block in section.blocks %}
      <div class="first-logo">
        <div class="logo-cls">
          <img class="img-normal" src="{{block.settings.image | img_url: 'master'}}">
          <img class="img-hover" src="{{block.settings.hover | img_url: 'master'}}">
        </div>
        <div class="popup">
          <div class="custom-model-main">
            <div class="custom-model-inner">        
              <div class="close-btn">×</div>
              <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                  <div class="pop-flex">
                    <div class="img-popup combo-pop">
                      <img src="{{block.settings.image-pop | img_url: 'master' }}">
                    </div>
                    <div class="popup-cont combo-pop">
                      <h2 class="heading-pop">{{block.settings.heading-pop}}</h2>
                      <p class="text-pop">{{block.settings.text-pop}}</p>
                    </div>
                  </div>
                </div>
              </div>  
            </div>  
            <div class="bg-overlay"></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% schema %}
{
"name": "Logo Section",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "color",
"type" : "color",
"label" : "Background Color"
}
],
"blocks" : [
{
"name" : "block",
"type" : "block",
"settings" : [
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "hover",
"type" : "image_picker",
"label" : "Hover Image"
},
{
"type": "header",
"content": "Popup Details"
},
{
"id" : "image-pop",
"type" : "image_picker",
"label" : "Popup Image"
},
{
"id" : "heading-pop",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text-pop",
"type" : "textarea",
"label" : "Text"
}
]
}
],
"presets" : [
{
"name" : "Logo Section"
}
]
}
{% endschema %}



<script>
  $(".logo-cls").on('click', function() {
    $(this).closest(".first-logo").find(".custom-model-main").addClass('model-open');
  }); 
  $(".close-btn, .bg-overlay").click(function(){
    $(".custom-model-main").removeClass('model-open');
  });

</script>