<link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="clsmain-slider-logos-section" id="{{section.id}}">
  <div class="clsContainer-cls">
    <div class="clswidth-cnt">
      <h2 class="clsheading">{{section.settings.heading}}</h2>
      <p class="clstext">{{section.settings.text}}</p>
    </div>
    <div class="clsAll-logos logo-slides">
      {% for block in section.blocks %}
      <div class="clsfirst-logo">
        <div class="clslogo-cls">
          <img class="clsimg-normal" src="{{block.settings.image | img_url: 'master'}}">
          <img class="clsimg-hover" src="{{block.settings.hover | img_url: 'master'}}">
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% schema %}
{
"name": "Logo Slider Section",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "color",
"type" : "color",
"label" : "Background Color"
}
],
"blocks" : [
{
"name" : "block",
"type" : "block",
"settings" : [
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "hover",
"type" : "image_picker",
"label" : "Hover Image"
}
]
}
],
"presets" : [
{
"name" : "Logo Slider Section"
}
]
}
{% endschema %}

<style>

  .clsmain-slider-logos-section{
    padding: 3% 3%;
  }
  .clsContainer-cls{
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  img.clsimg-hover {
    display: none;
  }
  .clswidth-cnt h2.clsheading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #006781;
    letter-spacing: 0px;
  }

  .clswidth-cnt p.clstext {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }

  .clslogo-cls:hover img.clsimg-normal {
    display: none;
  }

  .clslogo-cls:hover img.clsimg-hover {
    display: block !important;
  }
  .clsfirst-logo {
    padding: 0 15px;
  }

  
</style>

<script>

  $('.logo-slides').slick({
    dots: false,
    infinite: true,
    arrows: false,
    slidesToShow: 5,
    autoplay: true,
    autoplaySpeed: 6000,
    slidesToScroll: 1,    
    prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-long-arrow-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-long-arrow-right' aria-hidden='true'></i></button>",
 responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
      }
    },
    {
      breakpoint: 500,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true
      }
    }
    ]
    });
</script>