<div class="monthydown">
  <div class="monthycontainer Testimonial-sections">
      <div class="mothlytitle">
        {%if  section.settings.komtitle!= blank %}
        <h3 class="mothtile"><a href="{{ section.settings.titleurl }}"><span class="kombotitle">{{ section.settings.komtitle }}</span></a></h3>
        {% endif %}
      </div>
<div class="blockstander">
    <div class="blockstander_flex multitoys">
      {% for block in section.blocks %}
      <div class="blockstander_flex1">
        <div class="blockontain">
          <div>
            <img src="{{ block.settings.kome | img_url:'master'}}" class="toukome">
          </div>
          <div class="toymgleft">
          <p class="monthlybtn"><a href="{{ block.settings.komeurl}}" class="monthltag">{{ block.settings.kometag }}</a></p>
          <p class="offtitle">{{ block.settings.offtitle }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
</div>
    <p class="checkall">
      {% if section.settings.subkomtag!= blank %}
        <span class="subjectbg">
      <a class="subcheck" href="{{ section.settings.subkome }}">{{ section.settings.subkomtag }}</a>
      <img src="https://cdn.shopify.com/s/files/1/0431/8039/2600/files/Arrow_3.png?v=1664272595">
          </span>
        {% endif %}
    </p>
    
  </div>
  
</div>

<style>
  .mothtile {
    text-align: center;
}
  .toymgleft{
        margin-left: 6%;
  }
.kombotitle {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    color: #006781;
    font-size: 30px;
    font-family: 'Manrope';
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 2px;
}
  .checkall {
    display: flex;
    align-items: center;
    justify-content: center;
        padding-top: 3%;
}
  .subcheck {
        font-size: 25px;
      font-family: 'Manrope';
    color:#fff;
        text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
  .subjectbg {
    background-color: #F48F89;
    color: #fff;
    padding: 11px 25px;
    border-radius: 50px;

}
  .monthydown {
    padding-top: 2%;
    background-color: #7CD6DB;
    padding-bottom: 5%;

}
  .savtitle {
    color: #F48F89;
}
  .blockstander_flex1 {
    flex: 0 0 30%;
    max-width: 30%;
}
  .blockstander_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
  .monthltag {
    background-color: #fff;
    color: #006781;
    font-size: 45px;
    font-family: 'Hunterswood';
    line-height: 50px;
    padding: 0 50px 15px;
    border-radius: 50px;
}
  .offtitle {
    color: #006781;
    font-size: 22px;
    line-height: 30px;
  font-family: 'Manrope';
  }
  .monthlybtn {
    margin-top: -15%;
}
  .mothlytitle {
    margin-bottom: 6%;
}
  .multitoys i{
    font-size: 27px;
    color: #fff;
    font-weight: 100;
    display: inline;
    background-color: #006781;
    padding: 10px;
    border-radius: 50%;
  }
  .multitoys .slick-next:before {
    content: "";
}
 .multitoys .slick-prev:before {
    content: "";
} 
  .multitoys .slick-prev, .multitoys .slick-next{
        height: 44px;
    width: 40px;
  }
  .multitoys .slick-prev {
    left: -51px;
  top: 70%;
}
  .multitoys .slick-next {
        top: 72%;
  }
  .multitoys .drag i{
        background-color: #F48F89;
  }
  img.toukome {
    width: 100%;
    max-width: 200px;
    margin: auto;
}
.monthycontainer{
      max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
   @media only screen and (max-width: 1440px) {
.multitoys .slick-prev {
    left: 0px
}
     .multitoys .slick-next {
    right: 0px;
}
   }
     @media only screen and (max-width: 1250px) {
.multitoys .slick-prev {
    left: 21px;
      z-index: 2;
}
            .multitoys .slick-next {
    right: 10px;
}
     }
       @media only screen and (max-width: 991px) {
.multitoys .slick-prev{
      top: 69%;
}
         .subcheck {
    font-size: 30px;
         }
       }
   @media only screen and (max-width: 768px) {
      .savtitle{
               display: block;
    text-align: center;
         }
     .multitoys .slick-next {
    top: 70%;
}
     .mothlytitle {
    margin: 10% 0;
}
  .kombotitle {
    background-color: transparent;
    padding: 0px;
    font-size: 24px;
    line-height: 30px;
}
     .mothtile {
    background-color: #fff;
    width: 82%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 12px 0px;
}
     .subcheck {
    font-size: 25px;
}
   }
       @media only screen and (max-width: 539px) {
.multitoys .slick-prev {
    left: 24%;
      top: 69%;
     }
.multitoys .slick-next {
    top: 69%;
      right: 19%;
}
         .monthlybtn {
    margin-top: -10%;
}
   }

   @media only screen and (max-width: 450px) {
.multitoys .slick-prev {
    left: 19%;
    top: 71%;
}
     .multitoys .slick-next {
    top: 71%;
    right: 15%;
}
   }
    @media only screen and (max-width: 414px) {
.monthltag{
  padding: 0 51px 15px !important;
}
      .multitoys .slick-next {
    top: 72%;
    right: 13%;
}
      .multitoys .slick-prev {    
     left: 15%;
    top: 72%;
}
    }
    @media only screen and (max-width: 360px) {
.multitoys .slick-prev {
    left: 11%;
    top: 72%;
}
      .multitoys .slick-next {
    top: 72%;
    right: 9%;
}
    }
</style>

<script>
  $('.multitoys').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-long-arrow-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-long-arrow-right' aria-hidden='true'></i></button>",
        responsive: [
      {
        breakpoint: 820,
        settings: {

          slidesToShow: 2
        }
      },
      {
        breakpoint: 540,
        settings: {
                slidesToShow: 1
        }
      }
    ]

});
</script>
{% schema %}
  {
  "name": "monthlypackage",

  "settings": [
  {
    "id" : "komtitle",
    "type" : "text",
    "label" : "Heading"
  },
      {
    "id" : "titleurl",
    "type" : "url",
    "label" : "Title Url"
  },
             {
    "id" : "subkome",
    "type" : "url",
    "label" : "CHECK URL"
  },
         {
    "id" : "subkomtag",
    "type" : "text",
    "label" : "CHECK BUTTON"
  }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
      {
   "id": "kome",
   "type": "image_picker",
    "label": "Image"
   },
      {
    "id" : "komeurl",
    "type" : "url",
    "label" : "month url"
  },
  {
    "id" : "kometag",
    "type" : "text",
    "label" : "month title"
  },
     {
    "id" : "offtitle",
    "type" : "text",
    "label" : "offtitle"
  }

  ]
  }

  ],
  "presets" : [
  {
    "name" : "monthlypackage",
    "category" : "monthlypackage"

    }
  ]
  }
  {% endschema %}