<style>
  #shopify-section-prd-logo {
    position: absolute;
    z-index: 2;
    margin-top: -8%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  div#prd-logo {
    max-width: 1400px;
    margin: auto;
    width: 100%;
  }

  .main-logos-section {
    background: {
      {
        section.settings.color
      }
    }

    ;
    /*     padding: 3% 0 20% 0; */
  }

  .All-logos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  img.img-hover {
    display: none;
  }

  .first-logo {
    width: 20%;
    padding: 3%;
  }

  .width-cnt {
    max-width: 900px;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .width-cnt h2.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #006781;
  }

  .width-cnt p.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
  }

  .first-logo:hover .img-normal {
    display: none;
        
  }
  .img-normal{
    -webkit-transform: rotateY(150deg);
  }
 
  .first-logo:hover .img-hover {
    display: block !important;
  }

  .logo-cls {
    cursor: pointer;
  }


  /*   / POPUP CSS START / */
  .custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    /*   top: 0; */
    right: 0;
    left: 0;
    /*   bottom: 0; */
    /*   left: 0; / z-index: 1050; / */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    /*   overflow-x: hidden; */
    /*   overflow-y: auto; */
  }

  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }

  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 30px auto;
    max-width: 1200px;
  }

  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*   max-height: calc(100vh - 70px); */
    /* 	overflow-y: auto; */
  }

  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }

  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }

  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }

  .close-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
    font-size: 40px;
    color: #000;
    background: #fff;
    width: 50px;
    border-radius: 50%;
  }

  .pop-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .combo-pop {
    width: 50%;
  }

  .popup-cont {
    margin: auto;
  }

  h2.heading-pop {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #006781;
  }

  p.text-pop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }

  .img-popup img {
    width: 100%;
  }

  .popup-cont {
    padding: 5%;
  }

  @media only screen and (max-width: 1300px) {
    #shopify-section-prd-logo {
      margin-top: -10%;
    }
  }

  @media screen and (min-width:800px) {
    .custom-model-main:before {
      content: "";
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
  }

  @media screen and (max-width:799px) {
    .custom-model-inner {
      margin-top: 45px;
    }
  }


  /*   / POPUP CSS END / */
</style>

<style>
  .clswidth-cnt h2.clsheading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #006781;
    letter-spacing: 0px;
  }

  .clswidth-cnt p.clstext {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    width: 44%;
    margin: 0 auto;
    padding: 2% 0px 3%;
  }

  .clslogo-cls:hover img.clsimg-normal {
    display: none;
  }

  .clslogo-cls:hover img.clsimg-hover {
    display: block !important;
    
  }

  .clslogo-cls {
    cursor: pointer;
  }

  .clscustom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 5%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
  }

  .clsContainer-cls {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    padding-bottom: 8%;
  }

  .clsmodel-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }

  .clscustom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 3% auto;
    max-width: 1200px;
  }

  .clscustom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .clsmodel-open .clscustom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }

  .clsmodel-open .clsbg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }

  .clsbg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 45px;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }

  .clsclose-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
    background: #ea8282;
    width: 50px;
    border-radius: 50%;
  }

  .clspop-up-content-wrap {
    margin: 27px;
  }

  .clspop-flex {
    border: 2px dashed #84DADE;
    border-radius: 6px;
  }

  .clspop-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .clscombo-pop {
    width: 50%;
  }

  .clspopup-cont {
    margin: auto;
  }

  h2.clsheading-pop {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #006781;
  }

  p.clstext-pop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }

  .clsimg-popup img {
    width: 100%;
  }

  .clspopup-cont {
    padding: 5%;
  }





  @media screen and (min-width:800px) {
    .clscustom-model-main:before {
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
  }



  @media(max-width:1500px) {
    .clsmain-logos-section {
      padding: 3% 0 300px 0;
    }
  }

  @media(max-width:1300px) {
    .clsmain-logos-section {
      padding: 3% 0 200px 0;
    }

    .clswidth-cnt p.clstext {
      width: 65%;
    }

    .clswidth-cnt p.text {
      width: 55%;
    }

    .clscustom-model-inner {
      width: 85%;
      margin: 5% auto;
    }
  }

  @media screen and (max-width:1200px) {
    .clswidth-cnt p.clstext {
      width: 65%;
    }

    .clscustom-model-inner {
      width: 85%;
      margin: 8% auto;
    }
  }

  @media screen and (max-width:1024px) {
    .clscustom-model-inner {
      width: 85%;
      margin: 5% auto;
    }
  }

  @media screen and (max-width:991px) {
    .clswidth-cnt p.clstext {
      width: 90%;
    }
  }

  @media(max-width:950px) {
    .clsmain-logos-section {
      padding: 3% 0 300px 0;
    }

    .clswidth-cnt p.clstext {
      width: 68%;
    }
  }

  @media screen and (max-width:799px) {
    .clscustom-model-inner {
      margin-top: 45px;
    }

    .clscustom-model-inner {
      width: 85%;
      margin: 17% auto;
    }
  }

  @media(max-width:768px) {
    .clscustom-model-inner {
      width: 85%;
      margin: 20% auto;
    }

    .clsfirst-logo {
      width: 33.33%;
    }

    .clsmain-logos-section {
      padding: 3% 0 550px 0;
    }

    .clspop-flex {
      align-items: center;
    }
  }

  @media(max-width:600px) {

    .clscustom-model-wrap {
      width: 94%;
      margin: auto;
      height: 528px;
      overflow: scroll;
    }

    .clsclose-btn {
      right: 4px;
    }

    .clspop-flex .clscombo-pop {
      width: 100%;
    }

    .clswidth-cnt p.clstext {
      width: 76%;
    }

    .clswidth-cnt p.clstext {
      width: 100%;
    }
  }

  @media(max-width:540px) {
    .clsfirst-logo {
      flex: 0 0 33%;
      max-width: calc(33% - 20px);
      margin: 0 10px;
    }

    .clsAll-logos {
      justify-content: center;
    }

    .clswidth-cnt p.clstext {
      width: 100%;
    }
  }
</style>
<div class="main-logos-section" id="{{section.id}}">
  <div class="Container-cls">
    <div class="width-cnt">
      <h2 class="heading">{{section.settings.heading}}</h2>
      <p class="text">{{section.settings.text}}</p>
    </div>
    <div class="All-logos">
      {% for block in section.blocks %}
      <div class="first-logo">
        <div class="clslogo-cls" data-src="{{block.settings.image-pop | img_url: 'master' }}"
             data-heading="{{block.settings.heading-pop}}" data-text="{{block.settings.text-pop}}">
          <img class="img-normal" src="{{block.settings.image | img_url: 'master'}}">
          <img class="img-hover" src="{{block.settings.hover | img_url: 'master'}}">
        </div>
        <!-- <div class="popup">
<div class="custom-model-main">
<div class="custom-model-inner">        
<div class="close-btn">×</div>
<div class="custom-model-wrap">
<div class="pop-up-content-wrap">
<div class="pop-flex">
<div class="img-popup combo-pop">
<img src="{{block.settings.image-pop | img_url: 'master' }}">
</div>
<div class="popup-cont combo-pop">
<h2 class="heading-pop">{{block.settings.heading-pop}}</h2>
<p class="text-pop">{{block.settings.text-pop}}</p>
</div>
</div>
</div>
</div>  
</div>  
<div class="bg-overlay"></div>
</div>
</div> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% schema %}
{
"name": "Prd Logo",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "color",
"type" : "color",
"label" : "Background Color"
}
],
"blocks" : [
{
"name" : "block",
"type" : "block",
"settings" : [
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "hover",
"type" : "image_picker",
"label" : "Hover Image"
},
{
"type": "header",
"content": "Popup Details"
},
{
"id" : "image-pop",
"type" : "image_picker",
"label" : "Popup Image"
},
{
"id" : "heading-pop",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text-pop",
"type" : "textarea",
"label" : "Text"
}
]
}
],
"presets" : [
{
"name" : "Prd Logo"
}
]
}
{% endschema %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(".logo-cls").on('click', function () {
    $(this).closest(".first-logo").find(".custom-model-main").addClass('model-open');
  });
  $(".close-btn, .bg-overlay").click(function () {
    $(".custom-model-main").removeClass('model-open');
  });

</script>