<div class="haveheard_containrs">
  <div class="containerpaddings">
    <div class="heard_flexs">
      <div class="heard1s">
        <div class="heard_contains">
          <h2 class="heard_titles">{{section.settings.kome1}}</h2>
          <p class="heard_discs">{{section.settings.kome2}}</p>
        </div>
        <div class="number_flexs">
          {% for block in section.blocks %}
          <div class="number_flex1s">
            <div class="number_contains">
              <h3 class="number_titles">{{block.settings.numtitle}}</h3>
              <p class="nappy_prices">{{block.settings.numdicript}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="signups">{{section.settings.dscrit}}</p>
        <p class="start_gets cls-finds"><a href="{{section.settings.geturl}}">{{section.settings.getbtn}}</a></p>
      </div>
      <div class="heard2s">
        <div class="head_images">
          <img src="{{section.settings.hedmg | img_url:'master'}}" class="hedlinres">
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h2.heard_titles {
    text-align: left;
  }

  p.heard_discs {
    text-align: left;
    width: 100%;
    padding-right: 9%;
  }

  .heard_flexs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .heard1s {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .heard2s {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .number_flexs {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 10px;
  }

  .number_flex1s {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    border-right: 2px dashed #ffffff;
  }

  .number_flex1s:last-child {
    border: none;
  }

  .haveheard_containrs {
    background: #006781;
    padding: 300px 100px 200px 100px;
    margin-top: -9%;
    position: relative;
    z-index: 1;
  }

  .heard_titles {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 96px;
    text-align: center;
    color: #84DADE;
    letter-spacing: 0px;
  }

  .heard_discs {
    font-family: 'Manrope';
    font-style: normal;
    /*     font-weight: 700; */
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 67%;
    margin: 0 auto;
  }

  .number_titles {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #84DADE;
  }

  .signups {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 45px auto;
    width: 60%;
  }

  .nappy_prices {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }

  .hedlinres {
    width: 100%;
  }

  .start_gets a {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background: #F48F89;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cls-finds {
    text-align: left;
  }

  @media only screen and (max-width: 1280px) {
    .heard_titles {
      font-size: 50px;
      line-height: 55px;
    }

    .heard_discs {
      width: 72%;
      text-align: left;

    }

    .heard_flexs {
      justify-content: space-between;
    }

    .heard2s {
      flex: 0 0 50%;
      max-width: 49%;
    }

    .heard1s {
      flex: 0 0 50%;
      max-width: 49%;
    }

    .signups {
      margin: 25px auto;
      width: 100%;
    }

    .number_flexs {
      padding: 15px 0px 10px;
    }

    .number_titles {
      font-size: 64px;
      line-height: 70px;
    }
  }

  @media only screen and (max-width: 1100px) {
    .haveheard_containrs {
      padding: 20px 50px 20px 20px;
    }

    .heard_titles {
      font-size: 45px;
      line-height: 55px;
    }
  }
  @media only screen and (max-width: 1280px){
    .qtydiv .btnqty.qtyminus {
      margin-right: 0px;
  }
  }
  
  @media only screen and (max-width: 990px) {}

  @media only screen and (max-width: 768px) {
    .heard1s {
      flex: 0 0 100%;
      max-width: 100%;
      padding-bottom: 25px;
    }
    .cls-finds {
      text-align: center;
    } 
    .heard2s {
      flex: 0 0 100%;
      max-width: 70%;
    }

    .haveheard_containrs {
      padding: 20px 20px 20px 20px;
    }

    .head_images {
      text-align: center;
    }

    .heard_flexs {
      justify-content: center;
    }
  }

  @media only screen and (max-width: 749px) {
    .heard2s {
      flex: 0 0 100%;
      max-width: 90%;
  }
    .heard_titles {
      font-size: 33px;
      line-height: 40px;
    }

    .heard_discs {
      font-size: 17px;
      line-height: 24px;
    }

    .nappy_prices {
      width: 50%;
    }

    .number_titles {
      width: 20%;
    }

    .number_contains {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .number_flex1s {
      flex: 0 0 100%;
      max-width: 100%;
      border-bottom: 2px dashed #ffffff;
      border-right: none;
    }
  }

  @media only screen and (max-width: 414px) {
    .number_titles {
      font-size: 50px;
      line-height: 65px;
      width: 40%;
    }
  }
</style>
{% schema %}
{
"name": "Prd haveheard",

"settings": [
{
"id" : "kome1",
"type" : "text",
"label" : "Heading"
},
{
"id" : "kome2",
"type" : "textarea",
"label" : "Discription"
},
{
"id": "hedmg",
"type": "image_picker",
"label": "Banner Image"
},
{
"id" : "dscrit",
"type" : "textarea",
"label" : "Discription"
},
{
"id" : "getbtn",
"type" : "text",
"label" : "submit Button"
},
{
"id" : "geturl",
"type" : "url",
"label" : "submit url"
}
],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
{
"id" : "numtitle",
"type" : "text",
"label" : "Heading"
},
{
"id" : "numdicript",
"type" : "text",
"label" : "number Discription"
}

]
}

],
"presets" : [
{
"name" : "Prd haveheard",
"category" : "haveheard"

}
]
}
{% endschema %}