<div class="Main-testimonial-section" id="{{ section.id }}">
  <div class="Testimonial-sections">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
      <p class="text">{{ section.settings.text }}</p>
    </header>
    <div class="Main-test-block testi-slider">
      {% for block in section.blocks %}
        <div class="testimonial-block">
          <img src="{{ block.settings.image | img_url: 'master' }}">
          <div class="testimonial-contant">
            <h2 class="title">{{ block.settings.title }}</h2>
            <div class="review-rating">
              {% if block.settings.rating == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                {% endif %}
              {% if block.settings.rating == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if block.settings.rating == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if block.settings.rating == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
              {% if block.settings.rating == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                {% endif %}
            </div>
            <h2 class="heading">{{ block.settings.heading }}</h2>
            <p class="text">{{ block.settings.text }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Testimonial Section ",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "text",
        "type" : "textarea",
        "label" : "Text"
      },
      {
        "id" : "background",
        "type" : "color",
        "label": "Background Color",
        "default" : "#7CD6DB"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
            "id" : "image",
            "type" : "image_picker",
            "label" : "Image"
          },
          {
            "id" : "title",
            "type" : "text",
            "label" : "Name"
          },
          {
            "type": "range",
            "id": "rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "default": 5
          },
          {
            "id" : "review",
            "type" : "text",
            "label" : "Review"
          },
          {
            "id" : "heading",
            "type" : "text",
            "label" : "Heading"
          },
          {
            "id" : "text",
            "type" : "textarea",
            "label" : "Text"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Testimonial Sections"
      }
    ]
  }
{% endschema %}

<link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 

<style>

  .Main-testimonial-section {
    padding: 5% 0;
    background-color: {{section.settings.background}};
}
  .Testimonial-sections{
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  .Main-test-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial-block{
    width: 30%;
    padding: 0 2%;
  }
  header.head {
    margin-bottom: 5%;
}
  .head h2.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #006781;
    margin: 0;
}
  .testimonial-block img {
    width: 100%;
    margin: 15px 0;
}
  .review-rating {
    text-align: center;
    margin: 15px 0;
}
  .review-rating span.checked {
    color: #FFB800;
}
  .review-rating span {
    color: #FFf;
}
  .testimonial-contant h2.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #006781;
    margin: 0;
}
  .testimonial-contant h2.heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #006781;
    margin-bottom: 10px;
}
  .testimonial-contant p.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #006781;
}
  
  
</style>

<script>

  $('.testi-slider').slick({
    dots: false,
    infinite: true,
    arrows: true,
    slidesToShow: 3,
    centerMode: true,
    autoplay: true,
    autoplaySpeed: 6000,
    slidesToScroll: 1,    
    prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-long-arrow-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-long-arrow-right' aria-hidden='true'></i></button>",
    });
</script>