<style>
  .flex-video{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .custom_container {
    padding: 3% 0px;
}
  .video-main img{
    border-radius: 15px;
    width: 100%;
  }
  .Video-width-cls{
    width: 50%;
    margin: auto;
  }
  .video-contant{
    padding-right: 5%;
  }
  .button-video button.btn-cls{
      background: #ea8282;
    border-radius: 50px;
    border: none;
    padding: 0px 70px 12px;
  }
  .button-video button a.btn-link{
    color: #fff;
  }
  .button-video button:hover a.btn-link {
    color: #003e4e;
}
  .video-contant h2.heading{
   font-family: 'Hunterswood';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 45px;
color: #006781;
        letter-spacing: 0px;
  }
  .video-contant p.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }
  .kiddicarbg {
    background-color: #E5E5E5;
}
  .Video-Cls{
  	    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px;
  }
  .clssignup.btn-link {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: #ea8282;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  .video-main iframe{
    border-radius: 15px;
  }
    @media(max-width:1100px){
      .video-contant h2.heading{
      	    font-size: 38px;
    line-height: 34px;
      }
      .video-contant p.text{
      	font-size: 16px;
    line-height: 24px;
      }
    }
  
  @media(max-width:991px){
  	.video-contant {
    padding-right: 1%;
}
  }
  @media(max-width:768px){
    .flex-video{
      flex-direction: column-reverse;
    }
    .Video-width-cls{
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .video-contant h2.heading{
      font-size: 47px;
    line-height: 55px;
    }
  }
  @media(max-width:600px){
  .video-contant h2.heading {
    font-size: 44px;
    line-height: 47px;
}
  }
      @media(max-width:540px){
  .video-contant h2.heading {
    font-size: 34px;
    line-height: 37px;
}
    }
    @media(max-width:414px){
  
    }

</style>

<div class="Main-Video-Section" id="{{section.id}}">
  <div class="kiddicarbg">
  <div class="custom_container">
  <div class="Video-Cls">
    <div class="flex-video">
      <div class="video-contant Video-width-cls">
        <h2 class="heading">{{section.settings.heading}}</h2>
        <p class="text">{{section.settings.text}}</p>
        {% if section.settings.btn-link != blank %}
        <div class="button-video">
          <button class="btn-cls"> <a href="{{section.settings.btn-link}}" class="clssignup btn-link"> {{section.settings.btn-text}} </a> </button>
        </div>
        {% endif %}
      </div>
      {% assign select = section.settings.select-cls %}
      {% if select == "gif" %}
       <div class="video-main Video-width-cls">
         <img src="{{ section.settings.image | img_url:'master' }}">
      </div>
      {% endif %}
      {% if select == "video" %}
      <div class="video-main Video-width-cls">
        {% assign videoId = section.settings.video | split: '?v=' %}
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ videoId[1] }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
  </div>
</div>



{% schema %}
{
"name": "Video Section",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "textarea",
"label" : "Text"
},
{
"id" : "image",
"type" : "image_picker",
"label" : "Gif Image"
},
{
"id" : "video",
"type" : "text",
"label" : "Video"
},
{
        "type": "select",
        "id": "select-cls",
        "label": "Select gif or image",
        "default": "gif",
        "options": [
          {
            "value": "gif",
            "label": "Gif"
          },
          {
            "value": "video",
            "label": "Video"
          }
        ]
      },
{
"id" : "btn-text",
"type" : "text",
"label" : "Button Text"
},
{
"id" : "btn-link",
"type" : "url",
"label" : "Button Link"
}
],
"presets" : [
{
"name" : "Video Section"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
